<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC30FKfcn1PxLEhA78nyYBnmIjWPiUyAQw</string>
	<key>GCM_SENDER_ID</key>
	<string>750644874695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizAppNew</string>
	<key>PROJECT_ID</key>
	<string>quiz-8a2ac</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-8a2ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750644874695:ios:d331e2cff81c74b8c2dde2</string>
</dict>
</plist>